* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#body {
    width: fit-content;
}

main {
    width: 95vw;
    height: 80vh;
    overflow-x: scroll;
    overflow-y: scroll;
}

#header {
    display: flex;
    position: sticky;
    top: 0px;
    background-color: white;
    width: fit-content;
    z-index: 10;
}

#header>b {
    width: 100px;
    border: 1px solid #dbdbdb;
    text-align: center;
    flex-shrink: 0;
    padding: 10px 0;
}

.row {
    display: flex;
}

.row b,
.row >div {
    padding: 10px 0;
    width: 100px;
    flex-shrink: 0;
    border: 1px solid #dbdbdb;
}

.row b:first-child {
    text-align: center;
    position: sticky;
    left: 0;
    background-color: white;
}


.add_rows {
    width: 100%;
    height: 50px;
    background-color: #f8faf8;
    display: flex;
    align-items: center;
}

.tools {
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    display: flex;
    align-items: center;
}

#cellName {
    width: 100px;
    height: 80%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.startCell {
    display: flex;
    background-color: lightgray;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 200;
}
